# Entradas y salidas

In [ ]:
import numpy as np
import pandas as pd

# Definimos un dataframe con datos de ejemplos
df = pd.DataFrame(np.random.randn(10, 5), columns=["A", "B", "C", "D", "E"])#random décimal

df

          A         B         C         D         E
0  1.830948 -0.411393 -1.998277  0.129772  0.391457
1 -0.179231 -0.267537  0.380770 -0.070137 -0.679177
2  0.323647  0.053490  0.814029  2.018265 -1.662277
3 -0.758778 -0.616979  0.917505  0.987933 -0.493603
4  0.491407  0.998926 -0.048797  0.902146 -0.421888
5  0.454052  0.205133 -0.969087 -1.018863 -0.056821
6 -0.967621 -1.070989 -2.183894  0.181702  0.118078
7  0.816063 -0.060292  0.426435 -1.008076 -1.271093
8 -1.393617  1.718942 -0.672261 -0.864521  1.234798
9  0.324395 -1.116741  0.217400  0.645720  1.205517

## CSV

### Guardar a CSV

In [9]:
df.to_csv('datos.csv', index=False)

In [4]:
# Borramos el df de la memoria
del(df)

### Cargar desde CSV

In [8]:
df = pd.read_csv('datos.csv')

df

          A         B         C         D         E
0  1.830948 -0.411393 -1.998277  0.129772  0.391457
1 -0.179231 -0.267537  0.380770 -0.070137 -0.679177
2  0.323647  0.053490  0.814029  2.018265 -1.662277
3 -0.758778 -0.616979  0.917505  0.987933 -0.493603
4  0.491407  0.998926 -0.048797  0.902146 -0.421888
5  0.454052  0.205133 -0.969087 -1.018863 -0.056821
6 -0.967621 -1.070989 -2.183894  0.181702  0.118078
7  0.816063 -0.060292  0.426435 -1.008076 -1.271093
8 -1.393617  1.718942 -0.672261 -0.864521  1.234798
9  0.324395 -1.116741  0.217400  0.645720  1.205517

## JSON

### Guardar a JSON

In [12]:
df.to_json('datos.json')

NameError: name 'df' is not defined

In [11]:
# Borramos el df de la memoria
del(df)

### Cargar desde JSON

In [13]:
df = pd.read_json('datos.json')

df

          A         B         C         D         E
0  1.830948 -0.411393 -1.998277  0.129772  0.391457
1 -0.179231 -0.267537  0.380770 -0.070137 -0.679177
2  0.323647  0.053490  0.814029  2.018265 -1.662277
3 -0.758778 -0.616979  0.917505  0.987933 -0.493603
4  0.491407  0.998926 -0.048797  0.902146 -0.421888
5  0.454052  0.205133 -0.969087 -1.018863 -0.056821
6 -0.967621 -1.070989 -2.183894  0.181702  0.118078
7  0.816063 -0.060292  0.426435 -1.008076 -1.271093
8 -1.393617  1.718942 -0.672261 -0.864521  1.234798
9  0.324395 -1.116741  0.217400  0.645720  1.205517

## Excel

Necesitamos instalar el módulo `openpyxl` para generar y leer este formato:

    pip install openpyxl

In [14]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

### Guardar a Excel

In [16]:
df.to_excel('datos.xlsx', sheet_name='Sheet1', index=False)

In [ ]:
# Borramos el df de la memoria
del(df)

### Cargar desde Excel

In [ ]:
df = pd.read_excel('datos.xlsx', sheet_name='Sheet1')

df

Con `Matplotlib`, que aprenderemos en la próxima sección, podemos graficar estos resultados fácilmente:

In [17]:
import matplotlib.pyplot as plt
plt.rcParams["figure.figsize"] = 10,5

fertility_rate.mean()[1:].plot(kind='line', xlabel="Períodos", ylabel="Media de natalidad mundial")

NameError: name 'fertility_rate' is not defined

La práctica hace el maestro, os animo a hacer vuestras propias pruebas y googlear cualquier cosa que se os ocurra para aprender mucho más.